.quantity {
  width: 30px;
}
.cover {
  width: 72px;
  height: 72px;
  object-fit: cover;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.cursor {
  cursor: not-allowed;
}
.but {
  border: none;
  padding: initial;
}
h3,
h2,
h5 {
  text-align: center;
}
#title {
  margin-right: auto;
}
