.img-thumb {
  height: 150px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.vertical-line {
  border-left: 1px solid #eee;
}

.padding-row {
  padding-left: 30px;
  padding-right: 30px;
}

.padding-pagination {
  padding-bottom: 10px;
}

.elipse-product {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* for side bar */
.sidebar {
  position: static;
}

.color-box {
  border: 1px solid rgba(0, 0, 0, 0.24);
  width: 34px;
  height: 20px;
  margin-top: 4px;
  /*display: inline-block;
    position: relative;
    margin: 0 10px 0 0;
    box-sizing: border-box*/
}

.list-inline {
  margin-left: 0px;
}
