footer {
  background-color: #fe3f3f;
  color: #fff;
  left: 0;
  bottom: 0;
  height: 250px;
  width: 100%;
  overflow: hidden;
}
.list {
  cursor: pointer;
}
.list {
  color: #fff;
}
#link {
  color: #fff;
}
