.form-custom .form-custom-heading,
.form-custom .checkbox {
  margin-bottom: 10px;
}

.form-custom .checkbox {
  font-weight: normal;
}

.form-custom .form-control {
  position: relative;
  height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-custom .form-control:focus {
  z-index: 2;
}

.form-custom input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-custom input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #fff;
}

button.btn.btn-default.btn-lg {
  float: left;
}
p.text-muted.text-center {
  margin-top: 52px;
}
.panel {
  box-shadow: 0px 0px 19px 2px rgba(119, 119, 119, 0.4);
  border: 0px solid transparent;
}
.input-feedback {
  float: left;
}
.container-login {
  display: flex;
  justify-content: center;
}

/*After validation field becomes red*/
.error {
  border: solid 1px red;
  background-color: #ffe6e6;
}
