.panel {
  box-shadow: 0 0 4px rgba(40, 44, 63, 0.08);
  border: 1px solid #eaeaec;
}

.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #fff;
}

.table > tbody > tr > td,
.table > tbody > tr > th {
  border: none;
}

th {
  width: 200px;
}

.panel-default > .panel-footer {
  background-color: #fff;
  border-color: #fff;
}
@media (min-width: 970px) {
  .container {
    width: 970px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 250px;
}
.h4 {
  margin-right: 750px;
}
.h2 {
  margin-right: 550px;
}
.footer {
  background-color: #fe3f3f;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 250px;
  width: 100%;
  overflow: hidden;
}
.navbar-default {
  background-color: #fe3f3f;
  border-color: #c0392b;
}

.navbar-default .navbar-brand {
  color: #ecf0f1;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}

.navbar-default .navbar-text {
  color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}

.navbar-default .navbar-toggle {
  border-color: #c0392b;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}

.navbar-default .navbar-link {
  color: #ecf0f1;
}

.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

.search-bar {
  max-width: 400px;
  padding-top: 8px;
}
@media (min-width: 970px) {
  .container {
    width: 970px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 250px;
}
.panel {
  box-shadow: 0 0 4px rgba(40, 44, 63, 0.08);
  border: 1px solid #eaeaec;
}

.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #fff;
}

.table > tbody > tr > td,
.table > tbody > tr > th {
  border: none;
}

th {
  width: 200px;
}

.panel-default > .panel-footer {
  background-color: #fff;
  border-color: #fff;
}
/* h4 {
  width: 95px; */

h2 {
  margin-right: 550px;
}
