.card {
  margin-top: 0px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em;
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
#cartBtn {
  margin-right: 10px;
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px;
  }
}
#tab2 {
  color: black;
}
.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.tab-content {
  overflow: hidden;
}

.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.my-img {
  height: 250px;
  width: 350px;
  position: relative;
  margin: 0 auto;
}

.my-img-thumb img {
  height: 80px;
  /*width: 80px;*/
  position: relative;
  margin: 0 auto;
  width: 80px;
  max-height: 65px;
  min-height: 65px;
}

.actual-img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 0 px;
  text-align: center;
  margin-left: 80px;
}

.preview-thumbnail.nav-tabs li {
  width: 24%;
  margin-right: 2.5%;
  text-align: center;
}

.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block;
  text-align: center;
  object-fit: cover;
}

.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0;
  height: 80px;
}

.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0;
  text-align: center;
}

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px;
}

.color:first-of-type {
  margin-left: 4px;
}

.width-box {
  width: 100px;
}

.bt-color {
  background: #ea572d;
  border-color: #777783;
}

.caption {
  padding: 10px 0 0 10px;
}

hr {
  border-top: 1px solid rgba(162, 152, 152, 0.56);
}
.action {
  padding: 10px 0 10px 0;
}

.share-container {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
