.panel {
  border: 1px solid #eaeaec;
  box-shadow: 0px 0px 19px 2px rgba(64, 47, 47, 0.4) !important;
}

.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #fff;
}

.table > tbody > tr > td,
.table > tbody > tr > th {
  border: none;
}

th {
  width: 200px;
}

.panel-default > .panel-footer {
  background-color: #fff;
  border-color: #fff;
}
.nav > li > a {
  cursor: pointer;
}
